.catalog__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.catalog__gameError {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(146, 0, 0);
}

.gameFilter {
    width: 70%;
    min-width: 300px;
    margin: 10px auto;
    padding: 10px 30px;
}

.gameList {
    margin: 10px;
    padding: 10px;
}

.gameList__title {
    font-size: 1.4rem;
    text-align: center;
}

.game {
    background: #eaefff;
    display: flex;
    padding: 10px;
    border: 0px solid #363d56;
    border-radius: 10px;
    margin: 20px auto;
    min-width: 400px;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.game__content {
    margin: 10px;
}

.game__content__title {
    margin: 5px 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.game__content__details {
    margin: 10px;
}

.game__content__details__item {
    font-size: 0.9rem;
    margin: 5px 0;
}

.game__buttons {
    display: flex;
    flex-direction: column;
    margin: 20px;
}